* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.category-top {
    width: 100%;
    height: 50vh;
    position: relative;
}

.category-bottom {
    display: flex;
    width: 100%;
    height: 50vh;
}

.category-link {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease, filter 0.6s ease;
    filter: grayscale(100%);
}

.image-title {
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-size: 24px;

    color: white;
    text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000; 

    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
}

.image-container:hover img {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.title-bottom {
    margin-top: 15px;
}