.body {
    background-color: #1E1E20;
    padding: 50px;
}

.linha {
    border: none;
    border-top: 2px solid #11B0C8;
    margin: 20px 0;
    margin-left: 70px;
    width: 90%;
}

.lista-personagens {
    color: white;
    margin-bottom: 10px;
}

input.input {
    border: 2px solid #3b3b3e;
    background: #3b3b3e;
    color: #fff;
    margin: 10px 0;
    padding: 8px;
    width: 18%;
    height: 43px;
    border-radius: 10px;
    transition: .2s ease;
}

.input:focus {
    outline: 1px solid #11B0C8;
}

.select {
    border: 2px solid #3b3b3e;
    background: #3b3b3e;
    color: #fff;
    margin: 0 20px;
    margin-bottom: 15px;
    width: 18%;
    border-radius: 10px;
    transition: .2s ease;
}

.select:focus {
    outline: 1px solid #11B0C8;
}

.character-item {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.character-item:hover {
    background-color: #11B0C8;
    transform: scale(1.1);
}

.character-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.character-list li {
    background-color: #3b3b3e;
    width: 350px;
    border: none;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-link {
    text-decoration: none;
    color: inherit;
}

.character-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.character-info {
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
}

.character-info p {
    margin: 5px 0;
    color: #fff;
}

.character-info h2 {
    margin: 10px 0;
    color: #fff;
}

.character-icons {
    color: #11B0C8;
    transition: color 0.2s ease;
}

.character-item:hover .character-icons {
    color: #fff;
}