@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.body {
    background-color: #1E1E20;
    padding: 50px;
}

.linha {
    border: none;
    border-top: 2px solid #11B0C8;
    margin: 20px 0;
    margin-left: 70px;
    width: 90%;
}

.lista-personagens {
    color: white;
    margin-bottom: 10px;
}

input.input {
    border: 2px solid #3b3b3e;
    background: #3b3b3e;
    color: #fff;
    margin: 10px 0;
    padding: 8px;
    width: 18%;
    height: 43px;
    border-radius: 10px;
    transition: .2s ease;
}

.input:focus {
    outline: 1px solid #11B0C8;
}

.select {
    border: 2px solid #3b3b3e;
    background: #3b3b3e;
    color: #fff;
    margin: 0 20px;
    margin-bottom: 15px;
    width: 18%;
    border-radius: 10px;
    transition: .2s ease;
}

.select:focus {
    outline: 1px solid #11B0C8;
}

.character-item {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
}

.character-item:hover {
    background-color: #11B0C8;
    transform: scale(1.1);
}

.character-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.character-list li {
    background-color: #3b3b3e;
    width: 350px;
    border: none;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.character-info {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}

.character-info p {
    margin: 5px 0;
    color: #fff;
}

.character-info h2 {
    margin: 10px 0;
    color: #fff;
}

.character-icons {
    color: #11B0C8;
    transition: color 0.2s ease;
}

.more-info {
    font-size: 15px;
    font-weight: 500;
    
    border-radius:20px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;

    margin-left: 180px;
    align-items: center;
    text-wrap: nowrap;
    
    color:#fff;
    background-color:#11B0C8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    border:none;
    cursor:pointer;
    text-decoration: none;
    transition: .4s;
}

.more-info svg {
    vertical-align: middle;
}

.character-item:hover .character-icons {
    color: #fff;
}

.character-item:hover .more-info {
    background-color: #fff;
    color: #11B0C8;
}

/* Modal */

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    background-color: #1E1E20;
    border: 1px solid #3b3b3e;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    padding: 20px;
    width: 80%;
    max-width: 400px;

    text-align: center;
    animation: zoomIn 0.5s ease;
}

.modal-content.zoom-out {
    animation: zoomOut 0.3s ease;
}

.image-modal {
    margin-left: 20px;
    border-radius: 20px;
}

.linha-modal {
    border: none;
    border-top: 2px solid #11B0C8;
    margin: 10px 0;
    margin-left: 25px;
    width: 90%;
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #11B0C8;
    text-decoration: none;
    cursor: pointer;
}