@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.home {
    /* text-align: center;
    margin-top: 0; */
    background-color: black;
    /* color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.home h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home button {
    position: absolute;
    left: 60px;
    top: 480px;

    font-family: 'Inter', sans-serif;
    font-size:25px;
    font-weight: 500;
    
    border-radius:10px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    
    color:#000000;
    background-color:#00de0b;

    outline:none;
    border:none;
    cursor:pointer;
    display:inline-block;
    text-decoration: none;
    transition: .4s;
}

.home button:hover {
    color:#008707;
    background-color:#26cc42;
}

.ricky {
    width: 30%;
    margin-left: 600px;
    margin-top: -10px;
}

.logo {
    width: 20%;
    position: absolute;
    top: 70px;
    left: 70px;
    height: auto;
}

.slogan {
    font-size: 30pt;
    position: absolute;
    left: 70px;
    top: 250px;
}

.slogan2 {
    font-size: 30pt;
    position: absolute;
    left: 70px;
    top: 300px;
}

.highlight {
    color: cyan;
}

.wubba {
    position: absolute;
    left: 70px;
    top: 400px;
    color: rgb(54, 255, 47);
}

.home-button {
    color: rgb(0, 0, 0);
    text-decoration: none;
}